<!doctype html>
<html>
<head>
	<title>Index</title>
	<meta charset="utf-8">
	<link rel='stylesheet' type ='css' href ='/css/hacktown.css'>

	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="/js/hacktown.js"></script>
</head>
<body>
	<div class="header">
		<div class="container">
			<h1>HACKTOWN USA 26.2 <h1>

		</div>
	</div>

	<h3>Do a search and find the stock information of a company!</h3>

	<input id="pac-input" class="controls" type="text" placeholder="Search Box">


	<div class="middle">
		<div class="container">
			<div id = "map"></div>
		</div>
	</div>

	<div class="footer">
		<div class="container">
			<p>&copy; University of Oregon Dev Club</p>
		</div>
	</div>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6qeEwQI4ltlYOWSq0dPn_uzpC1sU1Vsk&libraries=places&callback=initAutocomplete"
         async defer></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</body>
</html>
