<!doctype html>
<html>
<head>
	<title>Index</title>
	<meta charset="utf-8">
	<link rel='stylesheet' type ='css' href ='css/hacktown.css'>
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	<script src="js/hacktown.js"></script>
</head>
<body>
	<input id="pac-input" class="controls" type="text" placeholder="Search Box">
	<header>
		<h1>HACKTOWN USA 26.2 <h1>
	</header>
		<p>
			We have our map here
		</p>

	<div id = "map"></div>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6qeEwQI4ltlYOWSq0dPn_uzpC1sU1Vsk&libraries=places&callback=initAutocomplete"
         async defer></script>
</body>
</html>
